[submodule "Vendor/CheddarKit"]
	path = Vendor/CheddarKit
	url = https://github.com/nothingmagical/cheddarkit.git
[submodule "Vendor/Localytics"]
	path = Vendor/Localytics
	url = https://github.com/soffes/localytics-ios.git
[submodule "Vendor/SSToolkit"]
	path = Vendor/SSToolkit
	url = https://github.com/soffes/sstoolkit.git
[submodule "Vendor/TTTAttributedLabel"]
	path = Vendor/TTTAttributedLabel
	url = https://github.com/mattt/TTTAttributedLabel.git
[submodule "Vendor/SSPullToRefresh"]
	path = Vendor/SSPullToRefresh
	url = https://github.com/soffes/sspulltorefresh.git
